/* Pagination.module.scss */

.pagination {
    display: flex;
    justify-content: flex-end; /* Alinha o componente à direita */
    align-items: center;
    margin: 20px;
    gap: 5px; /* Espaço entre os itens */

    button {
        padding: 4px 8px; /* Reduz o tamanho do botão */
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px; /* Menor fonte para o botão */

        &:disabled {
            background-color: #ddd;
            cursor: not-allowed;
        }
    }

    span {
        font-size: 14px; /* Menor fonte para o texto */
    }
}
